{{#each messages as |message|}}
  <div class="row border rounded">
    <div class="col-sm-8 col-md-9">
      <div class="card">
        <div class="card-header" data-id="{{message._id}}">
          <div class="username col-md-8">{{message.owner.email}}</div>
          <div class="date col-md-4">{{message.timestamps}}</div>
        </div>
        <div class="card-body">
          <p class="card-text">{{message.text}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3">
      <!-- This is the modal button -->
      <button class="edit-btn btn btn-block btn-warning" data-id="{{message._id}}" data-toggle="modal" data-target="#exampleModalCenter">Change</button>
      <!-- End modal button -->
      <button class="delete-btn btn btn-block btn-danger" data-id="{{message._id}}">Delete</button>
    </div>
  </div>
  <!-- End card -->
  <!-- Begin modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Update Message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="update-message">
            <div class="input-group">
              <textarea name="message[text]" class="form-control" id="update-message" rows="3" placeholder="Type your text here"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
{{/each}}
