{{#each messages as |message|}}
{{ log message }}
  <div class="row">
    <div class="col-sm-8 col-md-9 col-xl-10">
      <div class="card">
        <div class="card-header col" data-id="{{message._id}}">
          <div class="row">
            <div class="username col-sm-12 col-md-4">{{message.owner.email}}</div>
            <div class="date col-sm-12 col-md-8">{{pretty-timestamps message}}</div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">{{message.text}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3 col-xl-2 handle-btn">
      <div class="row sticky-top">

      <!-- This is the modal button -->
      {{#if (auth-check-update message.owner)}}
      <button class="edit-btn btn btn-sm btn-outline-warning btn-block" data-id="{{message._id}}" data-toggle="modal" data-target="#exampleModalCenter">Change</button>

      {{/if}}
      <!-- End modal button -->
      {{#if (auth-check-delete message.owner)}}
      <button class="delete-btn btn btn-sm btn-outline-danger btn-block" data-id="{{message._id}}">Delete</button>

      {{/if}}
      </div>
    </div>
  </div>
  <!-- End card -->
  <br>
  <br>
{{/each}}
